#container-main-div {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 69% 29%;
    cursor: pointer;
    grid-gap:5%;
    margin-top: 70px;
}

#container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    height: 160px;
    grid-gap: 5%;
    border-radius: 10px;

    margin-top: 30px;
    cursor: pointer;
}

#container>div {
    margin-top: 20px;
    border-radius: 10px;
}

.image-class {
  
    height: 400px;
    background-color: white;
    
  
}


/* css new line */

#navbar{
    width: 100%;
    height: 90px;
    
    margin: auto;
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-size: 15px;
   
}
.nav-main-class{
    display:flex;
}
.nav-main-img{
    margin: 20px;
    margin-right: 800px;
}
.nav-main-top{
    margin: 20px;
    margin-left:25px ;
}


.class-div-1{
    width:100%;
    height: 60px;
    background-color:white;
    padding:20px;

}
.class-div-2{
    display: inline-block;
  
    height: 50px;
    width: 100%;
    background-color:white;
    padding:5px;
    margin-top: 20px;
    

}
.lable-class-0{
   margin-bottom: 10px;;
 font-weight: bold;
   

}
.input-class-1{

width:70px;
height:30px;
padding:5px;
border-radius:5px;
margin-top: 10px;
margin-bottom:20px;
margin-left: 0px;

}
.input-class-2{

    width:500px;
    height:30px;
    padding:5px;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom:20px;
    margin-left: 0px;
    }
.input-class-0{
    width:400px; height:30px;
    padding:5px;
    border-radius:5px;
    margin-top: 10px;
    margin-bottom:20px;
    margin-left: 0px;
}
.black-0{
    color:black;
    font-style:45px ;
}
.input-class-3{
    width:200px; height:43px;
    
    border-radius:5px;
    margin-top: 10px;
    margin-bottom:20px;
    

}
.sing-class{
    margin-left: 20px;
    font-weight: bold;
 
  
}


.mobilee-0class{
    color:red;
}
.img-responsive-0{
width:30%;
height:30px;
}
.class-div-3{
   
    height: 350px;
    background-color:white;
    padding:20px;
    margin-top: 20px;

}
.class-div-4{
   
    height: 500px;
    background-color:white;
    padding:20px;
    margin-top: 20px;

}
.class-div-5{
    
    height: 600px;
    background-color:white;
    padding:20px;
    margin-top: 20px;

}
#sub {
    width: 230px;
    height: 50px;
    background-color: #FFC94C;
    color: #3d3100;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

/* .class-div-1-2{
    display: inline-block;
    width: 36%;
    height: 400px;
    background-color:white;
} */
#ul-id{
    overflow-y: scroll;
    height:250px;
    margin-left:0px;
    margin-bottom: 50px;
    margin-top: 30px;

}#ul-id>li{
    padding:6px;
    margin-left:20px;
    list-style:circle;
}
.para-pay{
    color:green;
}
#tell-us{
    text-align:center;
    text-decoration: none;
    font-weight:bold;
    margin-top:50px ;
   
}
.last-div{
   
margin-top: 40px;
text-align: center;
}
.payment-footer{
text-align: center;
margin-top: 40px;
line-height:25px;

}

#pay-checkbox {
    margin-left: 0px;
    width: 30px;
}




#img-id-hotels {
    width: 100%;
    height:400px;
    border-radius: 10px;
}

#para-div-id {
    padding: 20px;

}

#item-price {
    font-size: 24px;
    margin-top: 16px;
    padding: 20px;


}

#offer-id {

    font-size: 10px;
    padding: 5px;
    color: white;
    background-color: #0d7066;
    border-radius: 20px;
margin-left: 20px;

}

.class-name {
    margin-top: -7px;
    margin-bottom: 20px;
}

.class-location {
    margin-top: -18px;
    font-size: 14px;
}

.class-price {
    margin-top: 0px;

}

.class-details {
    font-size: 13px;
    color: rgb(94, 92, 92);
}

#per-night {

    font-size: 10px;
}

#per-night::first-line {
    color: rgb(99, 94, 94);
}

.review-class {

    font-size: 13px;
    font-weight: bold;
}
.btn-btn-reserve{
    padding:10px;
    border-radius: 15px;
    background-color:blue;
    color:white;
    font-weight: bold;
    margin-left: 20px;
}

/* footer start */
.footer-class {
display: grid;
grid-template-columns: 17% 17% 22% 20% 22%;
width: 80%;
margin: auto;
margin-top: 100px;
}


a {
text-decoration: none;

}

a:hover {
text-decoration: underline;
}
.footer-img{
width:20%
}

ul {
margin-left: 70px;


}

#footer-last-img {
margin: auto;
display: block;
margin-top: 50px;
margin-bottom: 50px;
}

#footer-last-para {
text-align: center;
color: #343b53;
margin-bottom: 100px;
}
.content-Explore:hover {
text-decoration: underline;
}

.content-Explore-1 {
margin-top: 100px;
text-align: center;
}