#container-main-div {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns:  100%;
    margin:auto;
    cursor: pointer;
    height:px;
}

#container {
   display:grid;
   grid-template-columns:100% ;
    
    grid-gap: 3%;
    border-radius: 10px;

    margin-top: 30px;
    cursor: pointer;
    height:850px;
}

#container>div {
    margin-top: 20px;
    border-radius: 10px;
}

.image-class {
  
    height: 400px;
    background-color: white;
    margin: 20px 0px;
    background-color: white;
}





#img-id-hotels {
    width: 100%;
    height:400px;
    border-radius: 10px;
}

#para-div-id {
    padding: 20px;

}

#item-price {
    font-size: 24px;
    margin-top: 16px;
    padding: 20px;


}

#offer-id {

    font-size: 10px;
    padding: 5px;
    color: white;
    background-color: #0d7066;
    border-radius: 20px;
margin-left: 20px;

}

.class-name {
    margin-top: -7px;
    margin-bottom: 18px;

}

.class-location {
    margin-top: -18px;
    font-size: 14px;
}

.class-price {
    margin-top: 0px;

}

.class-details {
    font-size: 13px;
    color: rgb(94, 92, 92);
}

#per-night {

    font-size: 10px;
}

#per-night::first-line {
    color: rgb(99, 94, 94);
}

.review-class {

    font-size: 13px;
    font-weight: bold;
}
.btn-btn-reserve{
    padding:10px;
    border-radius: 15px;
    background-color:blue;
    color:white;
    font-weight: bold;
    margin-left: 20px;
}

/* footer start */
.footer-class {
display: grid;
grid-template-columns: 17% 17% 22% 20% 22%;
width: 80%;
margin: auto;
margin-top: 100px;
}


a {
text-decoration: none;

}

a:hover {
text-decoration: underline;
}
.footer-img{
width:20%
}

ul {
margin-left: 70px;


}

#footer-last-img {
margin: auto;
display: block;
margin-top: 50px;
margin-bottom: 50px;
}

#footer-last-para {
text-align: center;
color: #343b53;
margin-bottom: 100px;
}
.content-Explore:hover {
text-decoration: underline;
}

.content-Explore-1 {
margin-top: 100px;
text-align: center;
}